/* .cl-header-pop-up{
  position: absolute;
  z-index: 999;
  top: 0;
} */

body {
  font-family: "Lato", sans-serif;
}
.content-center{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  align-items: center;
  justify-content: center;
  /* padding-top: 60px; */

  
}

.sidenav a {
  padding: 0px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: -71px;
  font-size: 36px;
  margin-left: 50px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.t-20{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}


